$font-serif: TiemposText,Georgia,Serif;
$font-sans: Circular,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;

$body-bgcolor: #F9FAFC ;
$body-fontFamily: $font-sans;


$yoty-container-bg: #ffffff;
$yoty-page-content-start-top: 60px;


$yoty-enable-rounded:            true !default;
$yoty-enable-shadows:            true !default;
$yoty-enable-transitions:        true !default;
