$yoty-font-serif: TiemposText,Georgia,Serif;
$yoty-font-sans: Circular,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;

$yoty-body-bgcolor: #f4f5f7 ;
$yoty-body-fontFamily: $yoty-font-sans;
$yoty-body-color: #535353 ;


$yoty-container-bg: #ffffff;
$yoty-page-content-start-top: 60px;


$yoty-enable-rounded:            true !default;
$yoty-enable-shadows:            true !default;
$yoty-enable-transitions:        true !default;
