<header id="header">

    <div id="header-collapse-menu">

        <button type="button" class="btn btn-default header-icon-transparent" aria-label="Hamburger Menu">
            <i class="fa fa-bars" aria-hidden="true"></i>
            <span class="btn-text">MENU</span>
        </button>

    </div>
    <div class="header-splitter float-xs-left"></div>
    <div id="header-search">

        <div class="form-inline float-xs-left">
            <input class="form-control" type="text" placeholder="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </div>

    </div>
    <div class="header-splitter float-xs-left"></div>
    
    <div id="header-logo-center">
        <img src="assets/images/logo-center.png" />
    </div>

    <div id="header-menu">

        <div>
            <a href="#" class="profile-link">
                <img src="https://pbs.twimg.com/profile_images/669434292649508864/WkwXpO_5.jpg" class="float-xs-left rounded"/>
                <span class="profile-text float-xs-right">Taha İPEK</span>
            </a>
        </div>

    </div>
    <div class="header-splitter float-xs-right"></div>
    

</header>