<aside id="sidebar">
  <ul class="nav nav-pills nav-stacked">
    <li class="nav-item active"><a class="nav-link active" [routerLink]="['/']" class="nav-link">Home</a></li>
    <li class="nav-item"><a class="nav-link" [routerLink]="['/login']" class="nav-link">Login</a></li>
    <li class="nav-item"><a class="nav-link" [routerLink]="['/register']" class="nav-link">Register</a></li>
    <li class="nav-item"><a class="nav-link" [routerLink]="['/reset']" class="nav-link">Reset</a></li>
  </ul>
</aside>
